<!--<h1>
    Hello!!! This is my own Component
</h1>
<div>
    First component
</div>
<p class="alert alert-danger">
{{Name}}<!--Interpolation
</p>
<input #name type="text" [value]="Name" (change)="showName(name)">
<button >Click</button>
<br/>
<input type="text" [(ngModel)]="Name">
<button >Click</button>-->
Item Details
<br/>
<div *ngIf="item.IQty>=1">
    Item ID:{{item.IID}}
    <br/>
    Item Name:{{item.IName}}
    <br/>
    Item Price:{{item.IPrice}}
    <br/>
    Item Availability:{{item.IQty}}

</div>